PasteDeploy==1.5.2
WebOb==1.4
WebTest==2.0.11
argparse==1.2.1
configparser==3.5.0b2
cornice==0.16.2
distribute==0.7.3
gevent==1.0.1
greenlet==0.4.2
gunicorn==18.0
konfig==0.9
pyramid==1.5
repoze.lru==0.6
simplejson==3.5.2
translationstring==1.1
umemcache==1.6.3
venusian==1.0a8
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.interface==4.1.1
https://github.com/mozilla-services/mozservices/archive/27e88d3b8f5b787e6b6b8e22bc7a432ed4757ea1.zip
